/*==== Variables ==== */
$textColor: white;
$backgroundColor: black;
// usage
.selector {
  color: $name;
  background-color: $backgroundColor;
  color: $textColor;
}

/* ==== Nesting ==== */
.selector {
  .selecor2 {
  }
  .selecto3 {
  }
  .selector-4 {
  }
}

/* Pseudo nesting */
.selector {
  &:hover {
  }
  &::after {
    content: "";
  }
}

/* file imports */
// _name.scss (start with underscore)
// to import --> @import '_name';

/* ==== Code snippets/mixin ==== */
@mixin mixin_name {
}

//usage
.selector {
  @include mixin_name;
}

// mixin with arguments

@mixin mixin_name_2($var_name_1, $var_name_2) {
  margin: $var_name_1;
  background-color: $var_name_2;
}

.selector {
  @include mixin_name_2(4px, red);
}

/* ==== Inheritance ==== */

.selector1 {
  //statements
  // a
  // b
  // c
}

.selector-2 {
  @extend .selector1; // a, b, c
  // override if needed
}

/* ==== Arithmetic ==== */
.selector {
  margin: 1px + 1px;
  width: 100% - 20px;
}
